.comment {
	display: flex;
	justify-content: left;
	align-items: center;
	border-bottom: solid 1px var(--neutral-dark);
	.actions {
		.edit,
		.delete {
			height: 15px;
			margin-top: -20px;
		}
	}
	.description {
		max-height: 50px;
	}
}
