.comment {
	display: flex;
	justify-content: left;
	align-items: center;
	border-bottom: solid 1px var(--neutral-dark);
	.actions {
		.edit,
		.delete {
			height: 15px;
			margin-top: -20px;
		}
	}
	.description {
		max-height: 50px;
	}
	form {
		display: flex;
		flex-direction: column;
		margin-left: 35px;
		textarea {
			resize: none;
			width: 300px;
			height: 70px;
		}
		button {
			background-color: var(--accent);
			color: var(--text-light);
			font-weight: bolder;
			border: solid 1px var(--neutral-medium);
		}
	}
}
