:root {
	/* Global color variables */
	--primary: #726dab;
	--secondary: #7d8cc4;
	--accent: #a0d2db;
	--neutral: #ffffff;
	--neutral-dark: #f2f2f2;
	--text-light: #ffffff;
	--text-dark: #000000;

	/* Global rules */
	font-family: Arial, sans-serif;
}
