.post {
	width: 500px;
	height: 300px;
	background-color: var(--neutral-light);
	border-radius: 10px;
	box-shadow: 0 0 5px var(--neutral-dark);
	margin-bottom: -30px;
	.topcontainer {
		display: flex;
	}
	.description {
		padding: 0px 15px;
		height: 90px;
		overflow-y: scroll;
		textarea {
			margin-top: 15px;
			height: 50px;
			width: 415px;
			resize: none;
			margin-bottom: -4px;
			overflow-y: scroll;
		}
		button {
			width: 421px;
			background-color: var(--accent);
			font-weight: bolder;
			color: var(--text-light);
			border: solid 1px var(--neutral-dark);
		}
	}
	.actions {
		display: flex;
		gap: 5px;
		margin-left: 15px;
		.edit {
			width: 30px;
			padding: 2px 5px;
			border: solid 2px var(--accent);
			background-color: var(--neutral-medium);
			border-radius: 5px;
			font-size: 14px;
			height: 15px;
		}
		.delete {
			width: 40px;
			padding: 2px 5px;
			border: solid 2px var(--destructive);
			background-color: var(--neutral-medium);
			border-radius: 5px;
			font-size: 14px;
			height: 15px;
		}
	}
	.comments {
		max-height: 100px;
		width: 410px;
		overflow-y: scroll;
		margin-top: 25px;
		border: solid 1px var(--neutral-dark);
		margin-left: 45px;
	}
}
