.post {
	width: 500px;
	min-height: 300px;
	background-color: var(--neutral-light);
	border-radius: 10px;
	box-shadow: 0 0 5px var(--neutral-dark);
	margin-bottom: -30px;
	.description {
		padding: 0px 10px;
		textarea {
			margin-top: 15px;
			height: 100px;
			width: 470px;
			resize: none;
			margin-bottom: -4px;
		}
		button {
			width: 475px;
			background-color: var(--accent);
			font-weight: bolder;
			color: var(--text-light);
			border: solid 1px var(--neutral-dark);
		}
	}
	.actions {
		display: flex;
		gap: 5px;
		margin-left: 10px;
		.edit {
			width: 30px;
			padding: 2px 5px;
			border: solid 2px var(--accent);
			background-color: var(--neutral-medium);
			border-radius: 5px;
			font-size: 14px;
		}
		.delete {
			width: 40px;
			padding: 2px 5px;
			border: solid 2px var(--destructive);
			background-color: var(--neutral-medium);
			border-radius: 5px;
			font-size: 14px;
		}
	}
}
